/*linear gradient
  .linear{
    width: 600px;
    height: 500px;
    border: 1px solid black;
    background: linear-gradient(to right,#6BA292,#F9EA9A,#F98948 );
} */
/* .linear{
    width: 600px;
    height: 500px;
    border: 1px solid black;
    background: linear-gradient(to top, rgb(102, 141, 204), rgba(102, 141, 204,0) );
    background: linear-gradient(60deg, rgb(102, 141, 204), rgba(102, 141, 204,0) );
} */

/* radial-gradient */
.linear{
    width: 600px;
    height: 500px;
    border: 1px solid black;
    background: radial-gradient(rgb(200, 141, 204) 60% , rgb(102, 141, 204) 40%)
}
