.box1 {
    width: 100px;
    height: 100px;
}
.box1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box2 {
    width: 200px;
    height: 200px;
}
.box2 img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.box3 {
    width: 300px;
    height: 300px;
}
.box3 img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.box4 {
    width: 400px;
    height: 400px;
}
.box4 img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.bottom {
    display: flex;
}
.box5, .box6 {
    width: 500px;
    height: 500px;
}
.box5 img , .box6 img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}
.web {
    display: flex;
}
.img1, .img2 {
    margin: 50px;
    width: 323.328px;
    height: 307.156px;
    border: 1px solid #707075;
}
.img1 img , .img2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width : 800px) {
    .img1, .img2 {
        margin: 50px;
        width: 200px;
        height: 200px;
        border: 1px solid #707075;
    }
}