body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}
.btn-group h3 {
    margin: 0 2rem;
}
.buttons {
    margin-top: 3rem;
}
.buttons button {
    margin: 0 3rem;
}
.card {
    margin-top: 5rem;
}
#cars:focus {
    outline: none;
}
select {
    width: 120px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}