@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-position: center;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: #D9AFD9;
background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 40rem;
  height: 28rem;
  box-shadow: 1px 1px 15px 4px #3b3b3b;
  background-color: #fff;
  border: 1px solid #707070;
  border-radius: 20px;
  position: relative;
}
.top {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#startButton {
  width: 10rem;
  height: 2rem;
  border: none;
  background-color: #e12f2e;
  color: #fff;
}
#startButton:hover {
  background-color: #f00606;
}
.score,
.timer {
  display: none;
  height: 2.2rem;
  border: 1px solid #707070;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}
.score {
  width: 7rem;
  margin-right: 3rem;
}
.timer {
  width: 10rem;
  margin-left: 3rem;
}
#min,
#score {
  margin-left: 5px;
}
#sec {
  margin-left: 2px;
}

.question1 , .question2 , .question3 , .question4 , .question5 {
  width: 100%;
  height: 16rem;
  display: none;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 85%;
  height: 2px;
  margin: 0 auto;
  background-color: #3b3b3b;
}
.question {
  background-color: rgb(175, 128, 219);
  color: #fff;
  width: 85%;
  height: 2.5rem;
  margin-top: 2rem;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.answers {
  width: 85%;
  height: 10rem;
  margin-top: 2rem;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3rem 3rem;
  gap: 2rem 1rem;
}
.answer {
  background-color: #d1caca;
  border: 1px solid rgb(219, 214, 214);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.answer:hover {
    background-color: #afaaaa;
}
.bottomButton  {
  display: none;
  position: absolute;
  right: 5rem;
  bottom: 2rem;
  width: 9rem;
  height: 2rem;
  background-color: #0ac9c9;
  border: none;
  color: #fff;
}
.bottomButton:hover {
  background-color: #0b9696;
}
.resultMsg {
  display: none;
  width: 25rem;
  height: 10rem;
  margin: 3rem auto;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: #81c6e8;
  font-size: 1.6rem;
}
#result {
  margin-top: 1rem;
} 
.buttons {
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: space-evenly;
}
.btn1 , .btn2 {
    width: 8rem;
    height: 2rem;
    background-color: #0ac9c9;
    border: none;
    color: #fff;
}
