.container {
    width: 90%;
    height: 85vh;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    box-shadow: 2px 5px 10px 3px #a59d9d;
}
.leftside {
    width: 25%;
    min-width: 25%;
    height: 100%;
    border: 1px solid black;
    background: #AFD3E2 ;
}
#rightside {
    width: 75%;
    height: 100%;
    border: 1px solid black;
    background: #87CBB9;
}
ul {
    margin-top: 40px;
}
.leftside h3 {
    margin-left: 40px;
    color: #E86A33;
}
ul li {
    list-style: none;
    padding: 20px;
}
ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #146C94;
    cursor: pointer;
}
ul li a:hover {
    color: #66347F;
    border-bottom: 1px solid rgb(8, 24, 252) ;
    font-size: larger;
}
#content {
    margin: 40px 50px;
    line-height: 40px;
    font-size: 18px;
    color: #19376D;
}
#heading {
    margin: 50px 0 0 50px;
    color: #fff;
}